img {
    width: 100%;
}

#input {
    border: none;
    border-bottom: 2px solid #e48210;
    background: none;
}
#input:focus {
    outline: none;
}

#button {
    background-color: #e48210;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;

}

#nav {
    position: relative;
}

#nav-title {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;
    font-size: 5rem;
    font-weight: bolder;
    font-family: verdana, sans-serif;
    color: #c85011;
    text-shadow: 2px 2px 5px black;
}
#nav-description {
    position: absolute;
    top: 70%;
    left: 23%;
    z-index: 1;
    font-size: 2rem;
    font-weight: bolder;
    font-family: verdana, sans-serif;
    color: #ed6e14;
    text-shadow: 2px 2px 5px black;
}

#form-space {
    position: sticky;
    z-index: 1;
    top: 5%;
}