img {
    width: 100%;
}

#input {
    border: none;
    border-bottom: 2px solid #e48210;
    background: none;
}

::placeholder {
    color: #e48210;
    opacity: 1;
}

#input:focus {
    outline: none;
}

#button {
    background-color: #e48210;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

#nav {
    position: relative;
}

#nav-title {
    position: absolute;
    top: 30%;
    left: 23%;
    z-index: 1;
    font-size: 4vw;
    font-weight: bolder;
    font-family: verdana, sans-serif;
    color: #c85011;
    text-shadow: 2px 8px 5px black;
}

#nav-description {
    position: absolute;
    top: 70%;
    left: 20%;
    z-index: 1;
    font-size: 2vw;
    font-weight: bolder;
    font-family: verdana, sans-serif;
    color: #ed6e14;
    text-shadow: 2px 4px 3px black;
}

#form-space {
    position: sticky;
    z-index: 1;
    top: 5%;
}

#body {
    width: 100%;
}

@media only screen and (max-width: 474px) {
    #nav {
        overflow: hidden;
    }
    #nav-title {
        font-size: 150%;
        left: 30%;
        top: 20%;
        text-shadow: 2px 3px 3px black;
    }
    #nav-description {
        top: 60%;
        right: 20%;
        font-size: 100%;
        text-align: center;
        text-shadow: 2px 3px 3px black;
    }
    #nav-image {
        width: 300%;
    }
}